#home {
    background-image: url("images/assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
    width: 1500px;
}

#services {
    background-image: url("images/assets/backgrounds/s_image.jpg");
}
#home > h1{
    test-align: center;
}